<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NopCommerce Automation Testing">

    <test name="Run on Firefox browser">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
<!--            <class name="com.nopcommerce.users.Level_02_BasePage_I_init" />-->
<!--            <class name="com.nopcommerce.users.Level_02_BasePage_II_StaticMethod" />-->
<!--            <class name="com.nopcommerce.users.Level_02_BasePage_III_Inheritance" />-->
            <class name="com.nopcommerce.users.Level_03_Page_Object" />
        </classes>
    </test>
    <test name="Run on Chrome browser">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.nopcommerce.users.Level_03_Page_Object" />
        </classes>
    </test>
    <test name="Run on Edge browser">
        <parameter name="browser" value="edge"></parameter>
        <classes>
            <class name="com.nopcommerce.users.Level_03_Page_Object" />
        </classes>
    </test>

</suite>